@{
    ViewData["Title"] = "Dados da Gerência";
    var models = ViewData["models"] as List<ShopCelL.Models.ReportData>; 
}
<h2>@ViewData["Title"].</h2>

@foreach (var model in models)
{
    <p>ReportData: @model.NumeroFilial</p>
}